*{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#animationWrapper{
	width: 100vw;
	height: 100vh;
}

#animationWrapper .tile{
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 32vh;
	height: 32vh;
	border: 5px solid black;
	background-color: #9dc3e6;	
	border-bottom-right-radius: 100%;
	
	transform-origin: top left;
}

#animationWrapper .tile.tileHovered{
	background-color: orange;
	cursor: pointer;
}

#animationWrapper div:nth-child(3n){
	background-color: #2e75b6;	
}

#animationWrapper div:nth-child(3n+1){
	background-color: #1f4e79;	
}

/*
#animationWrapper .tile:hover{
	background-color: #FFA13D !important;
}
*/
#animationWrapper .tile>div{
	font-size: 200%;
	color: white;
	background-color: inherit !important;		
	position: absolute;
	top: 50%;
	left: 50%;
}

#animationWrapper #innerMask{
	z-index:1;
	width: 25vh;
	height: 25vh;
	border-radius: 50%;
	border: 4px solid black;
	background-color: white;
}

#animationWrapper #innerMask>img{
	z-index:2;
	width: 100%;
}

#animationWrapperSelected{
	background-color: #FFA13D !important;
}